# Data acquisition

In [1]:
import numpy as np
import pandas as pd
pd.options.display.max_rows = 10
np.set_printoptions(precision=4, suppress=True)

In [3]:
df = pd.read_csv("tran_sf_roadve.tsv",sep='\t')
df

,"unit,vehicle,geo\time",2018,2017,2016,2015,2014,2013,2012,2011,2010,...,2008,2007,2006,2005,2004,2003,2002,2001,2000,1999
0,"NR,ANI_RD,BE",0,0,0,1,1,0,:,:,0,...,:,:,:,:,:,:,:,:,:,:
1,"NR,ANI_RD,BG",6,5,6,5,3,5,12,7,9,...,:,:,:,:,:,:,:,:,:,:
2,"NR,ANI_RD,DK",0,0,0,1,0,1,0,0,:,...,:,:,:,:,:,:,:,:,:,:
3,"NR,ANI_RD,EE",0,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
4,"NR,ANI_RD,HR",0,:,0,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
539,"NR,VG_LE3P5,RO",73,64,63,77,67,61,72,64,73,...,114,105,124,116,71,68,73,89,61,52
540,"NR,VG_LE3P5,SE",12,5,6,10,8,5,16,10,7,...,11,9,9,11,5,13,8,15,13,14
541,"NR,VG_LE3P5,SI",0,0,0,0,0,5,5,1,2,...,3,3,2,8,6,3,3,5,1,:
542,"NR,VG_LE3P5,SK",:,:,:,:,:,:,:,:,1,...,2,2,3,9,3,2,2,5,:,:
543,"NR,VG_LE3P5,UK",38,41,51,34,34,39,34,35,37,...,47,63,55,57,67,74,72,68,70,66